*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #0d192c;
  color: #8bacd9;
  font-family: 'Outfit';
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;
}
